<div class="container" *ngIf="isAdmin">   <div style="margin-left: 6px;">
  <img style="height: 125px; width: 144px ;margin-left: -11px ;" class="topic-avatar" mat-card-avatar src="assets\thanghn.jpg" />
</div>
  <div style="height: 60px; width: 60px; padding: 0px; margin: 0px;" *ngIf="isLogin">
    <h4 style="font-weight: bold;     margin: 0 34px;">{{name}}</h4>
  </div>
  <div *ngIf="isLogin">
    <h4 style="font-weight: inherit; margin: -27px 12px">{{email}}</h4>
  </div>
  <mat-divider></mat-divider>
  <button mat-button class="menu-button" (click)="Home()">
    <mat-icon>home</mat-icon>
    <span>Trang chủ</span>
  </button>
  <button mat-button class="menu-button" (click)="time()">
    <mat-icon>assignment_ind</mat-icon>
    <span>Chấm công</span>
  </button>



  <button mat-button class="menu-button" (click)="per()">
    <mat-icon>person</mat-icon>
    <span>Nhân viên</span>
  </button>
  <button mat-button class="menu-button" (click)="pay()">
    <mat-icon>payment</mat-icon>
    <span>Phiếu lương</span>
  </button>
  <button mat-button class="menu-button" (click)="department()">
    <mat-icon>store</mat-icon>
    <span>Phòng ban</span>
  </button>
  <button mat-button class="menu-button" (click)="chuc()">
    <mat-icon>work</mat-icon>
    <span>Chức vụ</span>
  </button>
  <button mat-button class="menu-button" (click)="khen()">
    <mat-icon>assignment_turned_in</mat-icon>
    <span>Khen thưởng</span>
  </button>
  <button mat-button class="menu-button" (click)="phat()">
    <mat-icon>assignment_late</mat-icon>
    <span>Kỉ luật</span>
  </button>
  <button mat-button class="menu-button" (click)="bh()">
    <mat-icon>perm_contact_calendar</mat-icon>
    <span>Bảo Hiểm xã hội</span>
  </button>
  <button mat-button class="menu-button" (click)="User()">
    <mat-icon>person</mat-icon>
    <span>Tài khoản</span>
  </button>

</div>

