<div style="width: 100%;" style="height: 11%;">
  <app-toolbar flexLayout="row" (toggleEvent)="nameEventHander($event)">
  </app-toolbar>
  <!-- <app-toolbar flexLayout="row"></app-toolbar> -->
</div>
<div class="dashboard-content" style="height: 84%; margin-left: 0%; padding-left: 0%;">
  <div class="sidenav-div">
      <mat-sidenav-container class="sidenav-container">
          <mat-sidenav [(opened)]="opened2" mode="side" class="matSidenav">
              <app-sidenavbar class="app-sidenavbar" fxFlex></app-sidenavbar>
          </mat-sidenav>
          <mat-sidenav-content class="sidenav-content">
              <div >
                  <div class="w-full p-2 mb-1" style="text-align: center;">
                 <h2> Bảng danh sách công nhật</h2>
                  </div>

                  <div class="row">
                      <div class="col-12 pl-0 mb-5" style="width: 100%;display: flex;justify-content: center;">
                          <!-- <button mat-raised-button [color]="'primary'" class="ml-6 button-create evn-bg-blue" (click)="doSearh()" style="border-radius: 10px;"> -->
                              <!-- <i class="fa fa-search"></i> -->
                              <!-- <span>Tim kiếm</span> -->
                              <!-- <span class="mr-1">Tìm kiếm</span>

                          </button> -->

                          <button  class="btn btn-primary"style="color: white; border-radius: 10px; background-color: rgba(4, 29, 131, 0.8);" (click)=" doExport()">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i> Xuất excel
                          </button>
                      </div>
                      <div class="col-md-3 ml-1 mb-4">
                        <!-- <mat-label>Tìm kiếm theo tháng:</mat-label> -->
                        <mat-select formControlName="chucVu"class="custom-select" placeholder="Tìm kiếm theo tháng:" (change)="onChange()" (clear)="reset()" >
                          <mat-option *ngFor="let val of listChucVu " [value]="val.id">{{val.name}}
                          </mat-option>
                      </mat-select>

                  </div>
                  </div>


                  <table mat-table [dataSource]="dataSource">
                      <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef style="width: 4%;"> STT </th>
                          <td mat-cell *matCellDef="let row; let i = index">
                              {{ i + 1 }}
                          </td>
                      </ng-container>

                      <ng-container matColumnDef="bookName">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> soGioLam</th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.soGioLam}} </td>
                    </ng-container>
                      <!-- Position Column -->
                      <ng-container matColumnDef="authorName">
                          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ngayLam</th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.ngayLam}} </td>
                      </ng-container>
                      <ng-container matColumnDef="title">
                          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> moTa</th>
                          <td mat-cell *matCellDef="let element"> {{element.moTa}} </td>
                      </ng-container>

                      <ng-container matColumnDef="no">
                          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Chức kyLuat</th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.kyLuat}} </td>
                      </ng-container>
                      <ng-container matColumnDef="no1">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Tên Nhân viên</th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.idNhanVien.ten}} </td>
                    </ng-container>
                      <ng-container matColumnDef="noOfBooks">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Địa thoiGian</th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.phieuLuongCol}} </td>
                    </ng-container>
                    <ng-container matColumnDef="createdDate">
                      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Ngày thoiGian làm</th>
                      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.thoiGian | date:'dd/MM/yyyy'}} </td>
                  </ng-container>
                      <ng-container matColumnDef="thaoTac">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center; width: 10%;"> Thao tác
                          </th>
                          <td mat-cell *matCellDef="let row; let i = index" class="cell-button" style="  text-align: center;">
                            <div style="display: flex;">

                              <ul matTooltip="xem thông tin" href="javascript:void(0)" (click)="openEditForm(row)">
                                <i class='fa fa-eye' style="font-size:24px ;color:#000080"></i>
                            </ul>
                              <ul matTooltip="Xóa tài khoản" href="javascript:void(0)" (click)="deleteDilag(row.bookId)">
                                  <i class='fa fa-trash' style="font-size:24px ;color:#000080"></i>
                              </ul>
                          </div>
                          </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
                      <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell font-semibold" *ngIf="!dataSource || dataSource; else emptyResult" colspan="12" style="text-align: center;font-weight: bold">
                              Không tìm thấy kết quả phù hợp với từ khóa
                          </td>
                          <ng-template #emptyResult>
                              <td class="mat-cell" colspan="12">
                                  <!-- Không tìm thấy kết quả phù hợp với từ khóa "{{
                                  input.value
                                  }}" -->
                                  Không tìm thấy kết quả phù hợp với từ khóa !
                              </td>
                          </ng-template>
                      </tr>
                  </table>  <mat-paginator [pageSizeOptions]="[10,25,50, 100]" aria-label="Select page of users"></mat-paginator>
              </div>

          </mat-sidenav-content>
      </mat-sidenav-container>
  </div>

</div>
